html {
  box-sizing: border-box;
}

*, 
*:before, 
*:after {
  box-sizing: inherit;
}

body {
	font-family: Arial, Geneva, sans-serif;
    margin: 0;
    padding: 20px;
}

a {
	color: #2772B0;
}

.wrapper {
	width: 97%;
	max-width: 1200px;
	margin: 0 auto;
	float: none;
	background-color: #fff;
}

div img {
	width: 100%;
	height: auto;
    border-radius: 5px;
}

h3 {
    margin-top: 0;
}

.row {
	display: flex;
	flex-flow: row wrap;
}

[class*="col-"] {
	margin-left: 4%;
    margin-bottom: 20px;
	flex: 0 0 92%;
    padding: 15px;
    border-radius: 5px;
}

.col-1 {
	background-color: #A3CDD9;
}

.col-2 {
	background-color: #FFFCE6;
}

.col-3 {
    background-color: #FFEBCD;
}

.col-4 {
    background-color: #CDB79E;
}

.col-5 {
    background-color: #E6E6FA;
    text-align: center;
}

@media only screen and (min-width: 480px)  {
	
  .col-1,
  .col-2 {
		flex: 0 0 44%;
	}
  
  .col-3 {
      flex: 0 0 92%;
  }
  
  .col-2.order-item {
      order: -1;
  }
}

@media only screen and (min-width: 768px) {
  
 	.col-1 {
		flex: 0 0 20%;
	}
  
	.col-2 {
		flex: 0 0 44%;
	}
    
    .col-3 {
        flex: 0 0 72%; 
    }

    .col-4 {
        flex: 0 0 92%;
    }

    .col-5 {
        flex: 0 0 16%;
    }
    
    .col-2.order-item {
        order: 0;
    }
}
